{% extends 'base.html' %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1><strong>Entre</strong></h1>
      </div>
    </div>
</section>
{% endblock %}

{% block main %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }} <br>
        {{ form.username(size=32) }}
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }} <br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <br>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>

</form>
<br>
<br>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<br>
<br>
<p>Novo usuário? <a href="{{ url_for('site.register') }}">Clique aqui para se cadastrar!</a></p>
<p>Esqueceu sua senha?<a href="{{ url_for('site.reset_password_request') }}">Clique aqui para solicitar uma nova senha.</a></p>
{% endblock main %}
