{% extends "base.html" %}


{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1>Cadastre-se</h1>
      </div>
    </div>
</section>
{% endblock %}

{% block main %}

<form action='{url_for("site.register")}}' method="post">
    {{ form.csrf_token }}

<div class="field">
    {{ form.username.label }}
    <div class="control">
        {{ form.username(size=20 )}}<br>        
    </div>
</div>
<div class="field">
    {{ form.email.label }}
    <div class="control">
        {{ form.email(size=20 )}}<br>        
    </div>
</div>
<div class="field">
    {{ form.password.label }}
    <div class="control">
        {{ form.password(size=20 )}}<br>        
    </div>
</div>
<div class="field">
    {{ form.password2.label }}
    <div class="control">
        {{ form.password2(size=20 )}}<br>        
    </div>
</div>
<div class="field">
    
<div class="control">
        {{ form.submit(size=20 )}}<br>        
    </div>
</div>

</form>



{% endblock main %}