*.py[cod]
*anot.txt
anot.txt
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

app.db
econovolt.log*
anot.txt
pendencias.txt
.secrets
.secrets.toml
.flaskenv
.log
*.log
.log
.env
/**.secrets.*
/**anot.txt.*
/**.txt.*

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

### IntelliJ IDEA ###
.idea/

### VS Code ###
.vscode/
