*.py[cod]
*anot.txt
anot.txt
# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

venv
app.db
econovolt.log*
anot.txt
pendencias.txt
.secrets
.secrets.toml
.flaskenv
.log 
.vscode
 *.log
.log
.env
/**.secrets.*
/**anot.txt.*
/**.txt.*