{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1>Econovolt</h1>
      </div>
    </div>
</section>
{% endblock %}


{% block main %}

<div class="row pad">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<h3 class="bold"><i class="glyphicon glyphicon-dashboard"></i> Admin Dashboard</h3>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<ul class="summary">
			<li class="">Simulações completas <span class="badge">{{ orders|length }}</span></li>
			<li class="">Simulações pendentes<span class="badge">3</span></li>
			<li class="">Total de itens<span class="badge">{{ items|length }}</span></li>
		</ul>
	</div>
</div>
<div class="row pad">
	<div class="col-lg-6 pad">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">Simulações realizadas</h3>
			</div>
			<div class="panel-body">
				Simulações relizadas
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>ID</th><th>Ref. da Simulação<object data="" type=""></object></th><th>Usuário</th><th>Potência Total Kwh</th><th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td>{{ order.id }} </td>
							<td><a href="{{ url_for('site.order', order_id=order.id) }}">{{ order.reference }}</a></td>
							<td>{{ order.name }} </td>
							<td>{{ order.order_total() }} </td>
							<td><span class="badge">Concluída</span></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="col-lg-6 pad">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Itens disponíveis</h3>
			</div>
			<div class="panel-body">
				Item
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>#</th><th>Nome</th><th>Potência</th><
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
						<tr>
							<td>{{ item.id }}</td>
							<td>{{ item.name}}</td>
							<td>{{ item.average_power }}</td>							
						</tr>
						{% endfor %}						
						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock main %}
