{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1>Econovolt</h1>
      </div>
    </div>
</section>
{% endblock %}


{% block main %}


<div class="row pad">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<h3 class="bold">SIMULACAO {{ order.reference }} de {{ order.name }} </h3>

				<h4>Potência calculada: {{ order.order_total() }} </h4>
				<h4>Total de itens: {{ order.quantity_total() }} </h4>
				
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Itens incluídos na simulação:</h4>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Id</th><th>Nome</th><th>Potência</th><th>Dias uso/mês</th><th>Quantidade</th><th>Descrição</th><th>Total</th>
						</tr>
					</thead>
					<tbody>
						{% for item in order.items %}
						<tr>
							<td>Id :{{ item.item_id }}</td>
							<td>Nome: {{ item.item.name }} </td> <!---item.item.name-->
							<td>Potência média: {{ item.item.average_power }}</td>
							<td>Total dias uso mês: {{ item.item.total_days_of_use_in_month }} </td>
							<td>Quantidade: {{ item.quantity }} </td>
							<th>Descrição: {{ item.item.description }} </th>
							<th>Total: {{ order.order_total() }} </th>
						
						</tr>					
						
					</tbody>
					<tfoot>
						<tr>
							<th colspan="4" class="text-right">Potência Total </th>
							<!--TODO: consumo médio mensal do item x qtd-->
							<th>Potência calculada: {{ item.quantity * item.item.average_power }} </th>
						</tr>
					</tfoot>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>


	<div class="col-lg-6">
		<h3 class="strong">Informações</h3>
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Info I</a>
				</li>
				<li role="presentation">
					<a href="#details" aria-controls="details" role="tab" data-toggle="tab">Info II</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="shipping">
					<h4 class="bold">Informações complementares</h4>
					<p><i class="glyphicon glyphicon-user"></i> Nome: <strong>{{ order.name }}</strong></p>
					<p><i class="glyphicon glyphicon-map-marker"></i> Estado: 
						<strong>{{ order.state }}</strong>
					</p>
					<p><i class="glyphicon glyphicon-th"></i> Companhia de Energia: <strong>{{ order.dealhership }}</strong></p>
					
					<hr />
					
				</div>
				<div role="tabpanel" class="tab-pane" id="details">
					<h4 class="bold">Detalhes</h4>
					<p><i class="glyphicon glyphicon-user"></i> Nome: <strong></strong></p>
					<p>
						<i class="glyphicon glyphicon-envelope"></i> EMAIL: 
						<strong></strong>
					</p>
				</div>
			</div>
		</div>
	</div>





{% endblock main %}
