<head>
    <link rel="stylesheet" type="text/css" href="static/css/outro.css">  
</head>

{% macro cards(items) %}
    {% for item in items %}
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div id="carousel-id" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                    <li data-target="#carousel-id" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-id" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active img">
                        <img alt="Imagem de uma lâmpada" src="{{ url_for('static', filename='img/img1.png') }}">
                        <div class="container">

                            <div class="carousel-caption">                                
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item img">
                        <img alt="Imagem de Selo Procel" src="{{ url_for('static', filename='img/img2.png') }}">
                        <div class="container">
                            <div class="carousel-caption">
                               
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="item img">
                        <img alt="Imagem kWh" src="{{ url_for('static', filename='img/selo.jpeg') }}">
                        <div class="container">
                            <div class="carousel-caption">
                               
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    
   




    {% endfor %}
{% endmacro %}
