{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1>Econovolt</h1>
      </div>
    </div>
</section>
{% endblock %}


{% block main %}

<section>
    <div class="container">
      <img alt="Imagem de uma lâmpada" src="{{ url_for('static', filename='imgs/img20.png') }}">
        <h4> Somos uma equipe formada por estudantes da Universidade Univesp do Eixo Computaç0ão, 
          desenvolvemos essa plataforma com o objetivo de ajudar ao cidadão a ter um consumo de 
          energia mais sustentável e obter uma economia na Fatura mensal de energia elétrica.</h4>
    </div>    
</section>


{% endblock main %}
