{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1>Econovolt</h1>
      </div>
    </div>
</section>
{% endblock %}


{% block main %}

<section>
    <div class="container">
        <h4>
          Somos uma equipe formada por estudantes da Universidade Univesp do Eixo Computação, desenvolvemos essa plataforma com o objetivo de ajudar ao cidadão a ter um consumo de energia mais sustentável e obter uma economia na Fatura mensal de energia elétrica. 
        </h4>
 
</section>


{% endblock main %}
