<!DOCTYPE html>
<html>
  <head>
    
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Econovolt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% endblock head %}

    {% block extra_css %} 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/flatly.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    
    {% endblock extra_css %}

  </head>
  <body>
    

    {% block nav %}
    <!---Se admin ir para essa tela-->
    {% if admin %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../">Econovolt</a>
                </div>
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="./"><i class="glyphicon glyphicon-dashboard"></i> Admin Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-plus-sign"></i> Add Product</a>
                        </li>
                        <li>
                            <a href="../"><i class="glyphicon glyphicon-chevron-left"></i> Back To Front</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    {% else %}


    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="{{ url_for('static', filename='img/logo.jpeg') }}" height="50">
          <br>
          <strong>Econovolt</strong>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
    
          <a class="navbar-item" href="{{ url_for('site.simulations') }}">
            Simulações
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Saiba mais
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('site.about') }}">
                Sobre
              </a>
              <a class="navbar-item">
                Contato
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Reporte um erro
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="{{ url_for('site.register') }}"><strong>Cadastrar</strong></a>
              {% if current_user.is_anonymous %}
              <a class="button is-light" href="{{ url_for('site.login') }}">Entrar</a>
              {% else %}
              <a class="button is-light" href="{{ url_for('site.user', username=current_user.username) }}">Perfil</a>
              <a class="button is-light" href="{{ url_for('site.logout') }}">Sair</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!--Alterações-->   


    {% endif %}
    {% endblock nav %}

    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <span style="color:red;">{{ message }}</span>
       
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>

    {% block content %} {% endblock %}

{% block top %} {% endblock top %}




    <section class="section">
    <div class="container">

      {% block main %} {% endblock main %}
    </div>
      
  </section>

  {% block footer %}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Projeto Integrador - </strong> Grupo 63</p>
    </div>
  </footer>

  {% endblock footer %}

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
  <!-- Bootstrap JavaScript -->
  <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>

  </body>
</html>
