<!DOCTYPE html>
<html lang="pt-br">
  <head>
    
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Econovolt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <meta name="google-signin-client_id" content=794738227307-o2muoqfvnmudsk0s2d8qpcsmdvn0bcav.apps.googleusercontent.com>
    
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-32x32.png">  

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GMXZXCHE53"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1DSQ82RJSN'); 
    </script>

<script type="text/javascript">
  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
</script>


    {% endblock head %}

    {% block extra_css %} 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/flatly.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    
    {% endblock extra_css %}

  </head>
  <body>   

    {% block nav %}
    <!---Se admin ir para essa tela-->
    {% if admin %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../">Econovolt</a>
                </div>
        
               
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{ url_for('site.admin') }}"><i class="glyphicon glyphicon-dashboard"></i> Painel de Simulações</a>
                        </li>
                        <li>
                            <a href="{{ url_for('site.add') }}"><i class="glyphicon glyphicon-plus-sign"></i> Adicionar um Item</a>
                        </li>
                        <li>
                            <a href="{{ url_for('site.index') }}"><i class="glyphicon glyphicon-chevron-left"></i> Voltar</a>
                        </li>
                        <li>
                          <a href="{{ url_for('site.new_simulation') }}"><i class="glyphicon glyphicon-chevron-left"></i>Nova Simulação</a>
                      </li>
                      <li>
                        <a href="{{ url_for('site.simulator') }}"><i class="glyphicon glyphicon-chevron-left"></i>Itens no simulador</a>
                    </li>
                    
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
    {% else %}


    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="{{ url_for('static', filename='img/novalogo.png') }}" height="50" alt="Logo Econovolt">
          <br>
          <strong>Econovolt</strong>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
    
          <a class="navbar-item" href="{{ url_for('site.new_simulation') }}" title="Faça login para realizar uma simulação do seu consumo de energia elétrica" tabindex="1">
            Realize uma simulação
          </a>
          {% if current_user.is_authenticated %}
          <a class="navbar-item" href="{{ url_for('site.simulator') }}" title="Verifique os itens incluídos na simulação" tabindex="2">
            Veja os itens incluídos no simulador
          </a>
          {% endif %}
    

          <div class="navbar-item has-dropdown is-hoverable" tabindex="3">
            <a class="navbar-link">
              Saiba mais
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('site.about') }}" tabindex="4">
                Sobre
              </a>
              <a class="navbar-item" href="{{ url_for('site.dicas') }}" title= "Clique para visualizar dicas de economia de energia elétrica" tabindex="5">
                Dicas
              </a>              
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if current_user.is_anonymous %}
                <a class="button is-primary" href="{{ url_for('site.register') }}" tabindex="6"><strong>Cadastrar</strong></a>
                <a class="button is-light" href="{{ url_for('site.login') }}" tabindex="7">Entrar</a>
                {% else %}
                <a class="button is-light" href="{{ url_for('site.user', username=current_user.username) }}">Perfil</a>
                <a class="button is-light" href="{{ url_for('site.logout') }}">Sair</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!--Alterações-->   


    {% endif %}
    {% endblock nav %}

    <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <span style="color:red;">{{ message }}</span>
       
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>

    {% block content %} {% endblock %}

{% block top %} {% endblock top %}

    <section class="section">
    <div class="container">

      {% block main %} {% endblock main %}
    </div>
      
  </section>

  {% block footer %}
  <footer class="footer">
    <div class="content has-text-centered">
      <div class="container">
      <p>
        <strong>Projeto Integrador Univesp - </strong> Grupo 63</p>
      </div>
    </div>
  </footer>

  {% endblock footer %}

  <!-- jQuery -->
  <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
  <!-- Bootstrap JavaScript -->
  <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/scriptsEconovolt.js') }}"></script>

  </body>
</html>
