<!DOCTYPE html>
<html>
  <head>
    <script id="_wau8d3">var _wau = _wau || []; _wau.push(["small", "5mei4ta6ys", "8d3"]);</script><script async src="//waust.at/s.js"></script>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Econovolt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% endblock head %}

    {% block extra_css %} {% endblock extra_css %}
</head>
  <body>
   
    {% block nav %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="{{ url_for('static', filename='img/logo.jpeg') }}" height="50">
          <br>
          <strong>Econovolt</strong>
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
    
          <a class="navbar-item" href="{{ url_for('site.simulations') }}">
            Simulações
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ url_for('site.about') }}">
                Sobre
              </a>
              <a class="navbar-item">
                Contato
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Reporte um erro
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Cadastrar</strong>
              </a>
              <a class="button is-light">
                Entrar
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% endblock nav %}


{% block top %} {% endblock top %}




    <section class="section">
    <div class="container">

      {% block main %} {% endblock main %}
    </div>
      
  </section>

  {% block footer %}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Projeto Integrador - </strong> Grupo 63</p>
    </div>
  </footer>

  {% endblock footer %}
  </body>
</html>
