{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1>Econovolt</h1>
      </div>
    </div>
</section>
{% endblock %}


{% block main %}

<div class="row">
	<div class="col-lg-8">
		<h3 class="bold">
			<i class="glyphicon glyphicon-pencil"></i> Informações complementares
		</h3>

		<div class="panel panel-primary">
            <form method="post" action="{{ url_for('site.checkout') }}"
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="bold">Informações pessoais</h4>
					</div>
                    {{ form.csrf_token }}
					<div class="col-lg-6">
						<div class="form-group">
							<label>Nome</label>
							{{ form.name(class='form-control') }}
                        </div>
						<div class="form-group">
							<label>Estado</label>
							{{ form.state(class='form-control') }}
                        </div>
					</div>								
				</div>
				
				<div class="row">
					<div class="col-lg-12">
						<h4 class="bold">Concessionária</h4>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label>Concessionária</label>
							{{ form.dealership(class='form-control') }}
						</div>
					</div>
				</div>

				
			</div>
			<div class="panel-footer">
				<button type="submit" class="btn btn-primary btn-sm">
					Enviar
				</button>
			</div>
        </form>
		</div>
	</div>
	
		
	</div>
</div>

{% endblock main %}