{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="text-center" >Dicas Para Economizar Energia Elétrica em Casa</h1>
      </div>
    </div>
</section>
{% endblock %}


{% block main %}

<section>
    <div class="container">
        
        <h3>1. Posicione a geladeira em um local ventilado</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Em primeiro lugar, você sabia que a geladeira corresponde a cerca de 30% da energia gasta em uma residência tradicional?</li>
            <li class="list-group-item">Dessa forma, uma maneira de contribuir para a economia de energia é colocando o aparelho em um local ventilado da sua casa. Então, não deixe esse aparelho em locais muito fechados.</li>
            <li class="list-group-item">Então, se a sua cozinha não for um local bem arejado, pense em outro cômodo da casa para posicionar esse item.</li>
        </ul>

        <h3> 2. Evite deixar a porta da geladeira aberta</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Em segundo lugar, muitas pessoas têm o costume de deixar a porta da geladeira aberta para pegar os ingredientes do almoço, abastecê-la com novos itens e por aí vai.</li>
            <li class="list-group-item">No entanto, evite que a porta fique aberta por muito tempo e não coloque alimentos muito quentes em seu interior.</li>
        </ul>
        
        <h3>3. Mantenha a geladeira limpa</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Além da dica anterior, outro segredo valioso é manter a geladeira limpa e em bom estado de conservação.</li>
            <li class="list-group-item">Nesse sentido, lembre-se de não forrar as grades, já que isso dificulta a circulação de ar.</li>
            <li class="list-group-item">Por fim, caso se ausente da residência por muito tempo, é recomendado esvaziar a geladeira e deixá-la desligada.</li>
        </ul>

        <h3>4. Diminua a frequência de banhos quentes</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">O banho quente é um dos principais vilões de quem precisa economizar energia elétrica.</li>
            <li class="list-group-item">Isso, porque o aquecimento de água corresponde a cerca de 20% da energia elétrica consumida. Mas, lembre-se que essa porcentagem varia dependendo da temperatura local.</li>
            <li class="list-group-item">Sendo assim, evite banhos longos e muito quentes, feche o chuveiro ao se ensaboar para diminuir o tempo que o equipamento fica ligado.</li>
        </ul>
    
        <h3>5. Racionalize o uso do chuveiro</h3>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">A princípio, quem tem um chuveiro elétrico em casa deve estar atento no momento de usar o aparelho.</li>
            <li class="list-group-item">Isso se deve pelo motivo do chuveiro elétrico consumir mais energia entre às 18h e 21h, ou seja, horários em que a maioria das pessoas chega do trabalho.</li>
            <li class="list-group-item">Então, prefira tomar banhos quentes em outros horários do dia. Além disso, outra coisa que ajuda é manter a saída de água do chuveiro limpa e utilizar as resistências originais do aparelho.</li>
        </ul>

        <h3>6. Corte o hábito de dormir com a TV ligada</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Esse é um tipo de hábito que prejudica muito quando a intenção é economizar na conta de luz.</li>
            <li class="list-group-item">Logo, corte o hábito de dormir com a TV ligada e utilize a função de timer para que o aparelho desligue automaticamente após um tempo.</li>
            <li class="list-group-item">Dessa forma, você verá muito em breve os resultados da economia de energia na sua conta.</li>
        </ul>

        <h3>7. Controle o uso do ferro elétrico</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Atualmente, cerca de 7% dos gastos de energia elétrica correspondem ao uso de ferro elétrico.</li>
            <li class="list-group-item">Então, acumule uma boa quantidade de roupas para passar tudo de uma vez e utilize a graduação correta para cada tipo de peça para conseguir a economia de energia.</li>
            <li class="list-group-item">Uma hora de ferro ligado diariamente é o suficiente para acrescentar cerca de 30 kWh na conta de energia no final do mês. Por fim, tenha a atenção de desligar o aparelho quando não estiver usando.</li>
        </ul>

        <h3>8. Tenha atenção ao utilizar a máquina de lavar</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Evite utilizar a máquina de lavar para uma pequena quantidade de roupas, dando preferência para ligá-la apenas nos níveis máximos de uso.</li>
            <li class="list-group-item">Além disso, é importante também dosar o sabão para evitar necessidade de reenxague. Por fim, outra dica que pode ajudar na economia de energia é limpar com frequência o filtro da máquina.</li>   
        </ul>
        
        <h3>9. Saiba usar as lâmpadas da sua casa</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Viver sem luz hoje é praticamente impossível e, por isso, cerca de 20% dos gastos em uma conta de energia são por causa de lâmpadas.</li>
            <li class="list-group-item">Apesar disso, uma boa dica para economizar nesse aspecto é aproveitar toda a luz natural do ambiente, evitando ligar as luzes durante o dia.</li>
            <li class="list-group-item">Evite deixar luzes ligadas em cômodos que não estão sendo utilizados e instale sensores de presença em corredores para que as lâmpadas se acendam apenas quando alguém passar.</li>

            <li class="list-group-item">Dica extra: utilize somente lâmpadas de voltagem (Volts) compatível com a voltagem da rede da concessionária de energia elétrica.</li>
        </ul>


        <h3>10. Mantenha o ar-condicionado bem higienizado</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Outro vilão que pode atrapalhar na hora de economizar energia é o ar-condicionado, um dos itens que mais colabora para altas contas de energia.</li>
            <li class="list-group-item">Por falar nesse item, que tal verificar se os filtros do seu aparelho de ar-condicionado estão bem higienizados?</li>
            <li class="list-group-item">Se eles não estiverem, o temporizador do ar-condicionado será acionado mais vezes para manter a temperatura, o que pode trazer mais gastos para sua vida.</li>
        </ul>

        <h3>11. Preste atenção no stand-by para economizar energia</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Mesmo aparentemente desligados, alguns aparelhos domésticos continuam consumindo energia, já que eles ficam no modo stand-by.</li>
            <li class="list-group-item">Então, itens como carregadores de celular e notebook, micro-ondas e aparelhos de DVD ligados na tomada podem representar até 12% do gasto de energia.</li>
            <li class="list-group-item">Evitar deixar o celular carregando enquanto você dorme também pode ser uma boa forma de economizar energia.</li>
        </ul>

        <h3>12. Compre lâmpadas de LED para economizar energia</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Se o objetivo é buscar formas de como economizar na conta de luz, por que é necessário comprar outras lâmpadas para a casa?</li>
            <li class="list-group-item">As lâmpadas LED são bem mais econômicas que incandescentes e fluorescentes, ainda que custem mais caro.</li>
            <li class="list-group-item">No longo prazo, a substituição pode trazer bastante economia de energia, já que esse tipo de lâmpada dura até 14 anos e consome 10 vezes menos energia do que uma lâmpada incandescente.</li>
        </ul>

        <h3>13. Cheque a borracha de vedação da geladeira</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Uma geladeira bem vedada é sinônimo de economia para o seu bolso, justamente porque se a vedação da porta não estiver adequada, ela pode gastar mais energia elétrica</li>
            <li class="list-group-item">Como resultado, quando a borracha desse aparelho não está em bom estado, o frio pode vazar para o exterior. Por conta disso, é exigido um maior gasto de energia para manter a geladeira funcionando.</li>
        </ul>

        <h3>14. Opte por eletrodomésticos mais eficientes</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">A escolha dos eletrodomésticos pode ter um efeito bastante perceptível na conta de luz.</li>
            <li class="list-group-item">Comprar um produto mais barato, mas menos potente, pode ser um daqueles casos em que o barato sai caro.</li>
            <li class="list-group-item">Então, antes de comprar qualquer eletrodoméstico, confira o selo fornecido pelo Instituto Nacional de Metrologia, Qualidade e Tecnologia (Inmetro).</li>
            <li class="list-group-item">Nele, é possível conferir a eficiência de diversos aparelhos em uma escala que vai de E (menos eficiente) até A (mais eficiente).</li>
            <li class="list-group-item">Dessa forma, é possível ter uma previsão do impacto que algum eletrodoméstico causará em sua conta de energia no final do mês.</li>
        </ul>

        <h3>15. Faça um uso mais eficiente do ar-condicionado</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Lembra que falamos sobre o ar-condicionado anteriormente? Ainda existem outras dicas em relação a ele, como:</li>
            <li class="list-group-item">Dimensionar adequadamente o aparelho para o tamanho do ambiente;</li>
            <li class="list-group-item">Manter janelas e portas fechadas quando o aparelho estiver funcionando;</li>
            <li class="list-group-item">Evite instalar o aparelho em áreas que fiquem expostas de maneira contínua ao sol.</li>
            <li class="list-group-item">Por outro lado, se você está se perguntando qual a temperatura ideal do ar-condicionado para economizar energia, temos a resposta:</li>
            <li class="list-group-item">Prefira deixar a temperatura entre 23ºC a 25ºC, evitando frio excessivo, que leva a mais gasto de energia.</li>
        </ul>

        <h3>16. Controle a intensidade da luz artificial</h3>

        <ul  class="list-group list-group-flush">
            <li class="list-group-item">Se na sua casa tem lugares ou cômodos que são usados com pouca frequência, tente controlar a intensidade da luz artificial para conseguir economizar energia.</li>
            <li class="list-group-item">Para isso, algumas pessoas utilizam sensores que ajudam a identificar e garantir que não há ninguém dentro do ambiente, o que faz com que o consumo de iluminação seja reduzido.</li>
        </ul>

        <h3>17. Tire os aparelhos da tomada para economizar energia</h3>
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Essa dica não se aplica para todos os itens da sua cassa, pois alguns, geralmente, não podem ser desligados, como é o caso da geladeira. Porém, se você está em home office ou usa algum lugar da casa ultimamente, tenha o hábito de tirar os aparelhos da tomada ao fim do dia.</li>
        </ul>

        <h3>18. Evite colocar fogão e geladeira muito próximos</h3>
        
        <ul class="list-group list-group-flush" >
            <li class="list-group-item">Muitas pessoas talvez não sabem, mas se o fogão e geladeira estiverem muito próximos, um pode interferir no consumo de energia do outro. Isso acontece devido à diferença de temperaturas entre os dois aparelhos.</li>
            <li class="list-group-item">Então, para resolver esse problema, basta ver a dinâmica da sua cozinha e avaliar as opções de espaços disponíveis, vendo o que pode ser mudado de lugar.</li>
        </ul>

        <h3>19. Invista na iluminação natural para economizar energia</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Por último, caso tenha a intenção de economizar ainda mais em sua energia doméstica, compensa optar pela iluminação natural dentro da residência.</li>
            <li class="list-group-item">Com este tipo alteração, o consumo de energia é reduzido, evitando o uso mais frequentes lâmpadas durante o dia, por exemplo.</li>
            <li class="list-group-item">Nossa dica é que você escolha cores claras nas paredes e no teto para que, assim, a luz natural consiga refletir com mais facilidade.</li>
        </ul>

        <h1 class="text-center">EM RESUMO</h1>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Evitar deixar os aparelhos em stand-by;</li>
            <li class="list-group-item">Escolher eletrodomésticos mais eficientes;</li>
            <li class="list-group-item">Ter uma vedação adequada para a porta da geladeira;</li>
            <li class="list-group-item">Usar lâmpadas de LED, entre as outras dicas valiosas que mencionamos;</li>
            <li class="list-group-item">Deixar a temperatura do ar-condicionado entre 23ºC a 25ºC;</li>
            <li class="list-group-item">Comprar eletrodomésticos mais eficientes;</li>
            <li class="list-group-item">Não usar a máquina de lavar para uma quantidade muito pequena de roupas, dentre as outras dicas que trouxemos acima.</li>
        </ul>
    </div>

</section> 

{% endblock main %}
