{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1>Econovolt</h1>
      </div>
    </div>
</section>
{% endblock %}


{% block main %}

<h3>Realização de uma nova simulação</h3>

<div class="row">
	<div class="col-lg-12">
		<div id="carousel-id" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-id" data-slide-to="0" class=""></li>
				<li data-target="#carousel-id" data-slide-to="1" class=""></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active" style="height: 300px;">
					<img alt="Energia alimentando cidade" src="{{ url_for('static', filename='img/imagem_principal.png') }}" style="width: 100%;">
					<div class="container">
						<div class="carousel-caption">						
							
						</div>
					</div>
				</div>
				<div class="item" style="height: 300px;">
					<img alt="Conjunto de lâmpadas" src="{{ url_for('static', filename='img/lampada1.png') }}" style="width: 100%;">
					<div class="container">
						<div class="carousel-caption">						
							
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>
	</div>
</div>
</div>

<div class="container" style="margin-top: 40px !important;">
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<p class="text-center pageTitle">Escolha alguns dos aparelhos elétricos abaixo para inclusão no simulador ou 
					clique <a href="{{ url_for('site.add') }} ">aqui</a> para cadastrar um novo item.</p>
			</div>
		</div>
	</div>
</div>


<div class="row">
	{% for item in items %}
	<div class="col-lg-3">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="thumbnail">
				<a href="{{ url_for('site.item', id=item.id) }}"> <!--./view-product.html-->
				<!--http://127.0.0.1:5000/_uploads/photos/geladeira_2.png-->

			
				</a>
				<div class="caption text-center">
					<h4 class="bold"></h4>
					<p>
						{{ item.description }}
						{{ item.image }}
					</p>
					<hr />
					<p>
						<a href="{{ url_for('site.item', id=item.id) }}" class="btn btn-primary btn-sm"  title="Clique aqui se deseja alterar a quantidade ou visualizar informações de consumo desse item"> <!--./view-product.html-->
							<i class="glyphicon glyphicon-eye-open"></i> Visualizar
						</a>
						<a href="{{ url_for('site.quick_add', id=item.id) }}" class="btn btn-default btn-sm" title="Clique para incluir uma unidade desse item no simulador">
							<i class="glyphicon glyphicon-shopping-cart"></i> Adicionar 
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}


</div>





{% endblock main %}
