{% extends 'base.html' %}
{% set active_page = 'login' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<!---Refazer form inspecionando html e colocar completo para igualar os botões-->
<div class="container">
    <h1>Olá, {{ current_user.username }}!</h1>
    <br>
    <h3>Adicione os itens para simulação. Ao final, clique em finalizar pra verificar o resultado.</h3>
    <br>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <p>
    <br>
    

    <a href="{{url_for('display')}}"><input type="button" value="Finalizar" ></a>

    
    </p>
</div>




{% endblock %}