{% extends "base.html" %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
<h2>Inclua os itens abaixo. Ao terminar clique em finalizar para 
verificar o resultado da simulação</h2>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.item.label }} <br>
        {{ form.item(cols=32, rows=4 )}}
    </p>
        {{ form.quantity.label }}
        {{ form.quantity }}
    <p> {{ form.submit() }} </p>
    
    <a href="{{url_for('display')}}"><input type="button" value="finalizar"></a>
    
</form>

{% endblock %}