{% extends 'base.html' %}

{% block content %}

<div class="container">
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>Usuário: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    <h1>Últimas simulações realizadas:</h1>
    <hr>        
    <h3>O valor total calculado foi: R$ {{ valor_total }} </h3>

    {% for simulation in simulations %}
    <p> {{ simulation.publish_date }} </p>
    {% endfor %}

</div>

    

{% endblock content %}