{% extends 'base.html' %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1><strong>Simulações realizadas </strong></h1>
      </div>
    </div>
</section>
{% endblock %}

{% block main %}


<table>
  <tr valign="top">
  <td><img src="{{ user.avatar(128) }}"></td>
  <br>
  <td> <h1><strong>Olá, {{ user.username }} </strong> !</h1></td>
  </tr>
</table>
<hr>
    
    <p>
        O resultado da sua última simulação realizada em 10/06/2022 foi R$ 300,00. </b>
    </p>
   

{% endblock main %}