{% extends "base.html" %}

{% block top %}
<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1>Econovolt</h1>
      </div>
    </div>
</section>
{% endblock %}


{% block main %}

<h3>Detalhes do item </h3>

<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li>
				<a href="{{ url_for('site.index') }}">Home</a>
			</li>
			<li class="active">Visualizar Item</li>
		</ol>
	</div>
</div>

<div class="row pad">
	<div class="col-lg-5">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="thumbnail">
				<img src="{{ url_for('static', filename='imgs/imagemteste.png') }}" alt="tomada elétrica com um fundo amarelo">
			</div>
		</div>
	</div>

	<div class="col-lg-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Detalhes</h3>
			</div>
			<div class="panel-body">
				<h4> Aparelho elétrico: {{ item.name }}  </h4> 
				<h4> Potência média (Kwh): {{ item.average_power}}</h4>
				<hr/>
				{{ item.description }}
				<hr/>
	
		<form action="{{ url_for('site.add_to_simulator') }}" method="POST">
						<div class="row">
							<div class="col-lg-4">
								<div class="row">
									<div class="col-lg-12">
										Quantidade
									</div>
									<!--Alterar outros dados de entrada posteriormente aqui..-->
									<div class="col-lg-12">
										{{ form.csrf_token }}
										{{ form.quantity(class='form-control', type='number', min=1, value=1) }}
									
										{{ form.id(value=item.id) }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<button type="submit" class="btn btn-primary">
							<i class="glyphicon glyphicon-shopping-cart"></i> Adicionar ao Simulador
						</button>
					</div>
		</form>
		
	</div>

		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#description" aria-controls="description" role="tab" data-toggle="tab">Item</a>
				</li>
				<li role="presentation">
					<a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Média de uso diário</a>
				</li>
			</ul>
		
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="description">
					{{ item.description }}
				</div>
				<div role="tabpanel" class="tab-pane" id="shipping">
					<h3>Média de uso diário</h3>
					{{ item.average_daily_use}}
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock main %}
